.App {
  text-align: center;
  background-color: rgb(17 24 39);
  height: 100%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
}

.App-link {
  color: #61dafb;
}
.App-text{
  color: white;
  display: flex;
  justify-content: center;
}
.App-info{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.App-edu{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.wrapper{
  border-radius: .7rem;
  background-color: rgb(56, 68, 95);
  width: 350px;
  margin: 1rem;
}
.container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: .3rem;
}
.form>input{
  width: 300px;
}
.info>input{
  display: flex;
  width: 300px;
}
.submit-btn{
  margin: .3rem;
}
.skilldiv{
  display: flex;
}
.sbutton>span{
  height: 14px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

